# Acesso a dados pela API da Quandl

In [5]:
import quandl as qd

Primeiramente devemos autenticar usando a chave da API.

In [6]:
qd.ApiConfig.api_key = "1xr5CsKNu3LGUoC-Wh6P"

## Dados de soja do CEPEA

In [30]:
d = quandl.get("CEPEA/SOYBEAN_C")
d.tail()

            Price US$  Daily %  Monthly %
Date
2017-11-08      22.68     0.80       2.25
2017-11-09      22.79     0.49       2.75
2017-11-10      22.55    -1.05       1.67
2017-11-13      22.70     0.67       2.34
2017-11-14      22.39    -1.37       0.95

In [31]:
d.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2912 entries, 2006-03-13 to 2017-11-14
Data columns (total 3 columns):
Price US$    2912 non-null float64
Daily %      15 non-null float64
Monthly %    15 non-null float64
dtypes: float64(3)
memory usage: 91.0 KB

---

## World Bank Global Economic Monitor (GEM) Commodities

Preços de commodities e índices desde 1960.

* [WGEC/WLD_SOYBEANS](https://www.quandl.com/data/WGEC/WLD_SOYBEANS-Soybeans-mt-current-World): Preço da soja mundial em dólar/mt. 

*obs*: mt = "metric ton".

In [35]:
d=qd.get("WGEC/WLD_SOYBEANS")
d.head()

                 Value
Date
1960-12-31   91.833333
1961-12-31  109.333333
1962-12-31  100.540000
1963-12-31  110.093333
1964-12-31  110.505833

---

## Banco Central do Brasil

Dados macroeconômicos brasileiros.

[BCB/4218](https://www.quandl.com/data/BCB/4218-Exports-Kg-Soybeans-including-grinded): Exportação ($kg$) de soja, incluindo triturada.

In [37]:
d=qd.get("BCB/4218")
d.head()

                Value
Date
1989-01-31    5000000
1989-02-28    9750000
1989-03-31   10537650
1989-04-30  320065957
1989-05-31  373374202

[BCB/2971](https://www.quandl.com/data/BCB/2971-Exports-Fob-Soybeans-including-grinded): Exportação ($\$$) de soja, incluindo triturada.

In [39]:
d=qd.get("BCB/2971")
d.head()

                Value
Date
1989-01-31    1817500
1989-02-28    3240425
1989-03-31    3169339
1989-04-30   91883451
1989-05-31  103203860

---

## Chicago Mercantile Exchange (CME)

Dados para uma grande variedade de commodities, incluindo grãos.

* [CME/SH1964](https://www.quandl.com/data/CME/SH1964-Soybeans-Futures-March-1964-SH1964-CBOT): Soybeans Futures, March 1964, SH1964, CBOT
* [CME/SH1963](https://www.quandl.com/data/CME/SH1963-Soybeans-Futures-March-1963-SH1963-CBOT): Soybeans Futures, March 1963, SH1963, CBOT
* [CME/SH1962](https://www.quandl.com/data/CME/SH1962-Soybeans-Futures-March-1962-SH1962-CBOT): Soybeans Futures, March 1962, SH1962, CBOT

In [34]:
d = qd.get("CME/SH1964")
d.head()

,Open,High,Low,Last,Change,Settle,Volume,Prev. Day Open Interest
Date,,,,,,,,
1963-04-02,250.0,251.2,250.0,None,None,250.2,0,0
1963-04-03,250.1,251.2,250.1,None,None,251.0,417,402
1963-04-04,251.2,251.2,250.2,None,None,250.2,156,498
1963-04-05,250.2,250.6,250.2,None,None,250.5,856,1158
1963-04-08,250.0,251.0,250.0,None,None,251.0,1011,2169

In [23]:
d = qd.get("CME/SH1963")
d.head()

,Open,High,Low,Last,Change,Settle,Volume,Prev. Day Open Interest
Date,,,,,,,,
1962-04-02,246.6,247.2,246.6,None,None,247.0,0,0
1962-04-03,246.6,246.6,246.6,None,None,246.6,17,17
1962-04-04,247.0,247.2,247.0,None,None,247.2,0,17
1962-04-05,247.2,247.6,247.2,None,None,247.4,10,27
1962-04-06,247.6,247.6,247.6,None,None,247.6,70,87

In [24]:
d = qd.get("CME/SH1962")
d.head()

,Open,High,Low,Last,Change,Settle,Volume,Prev. Day Open Interest
Date,,,,,,,,
1961-04-03,249.0,249.6,248.6,None,None,249.6,0,0
1961-04-04,249.6,250.4,249.4,None,None,250.2,507,492
1961-04-05,250.6,251.4,250.3,None,None,251.4,802,1254
1961-04-06,252.2,252.2,250.4,None,None,250.6,1036,1742
1961-04-07,251.4,251.4,249.6,None,None,250.2,1075,2573

---

## Wiki Commodities

In [33]:
d=qd.get("COM/WLD_SOYBEANS")
d.head()

            Column 1
Date
1960-01-31        94
1960-02-29        91
1960-03-31        92
1960-04-30        93
1960-05-31        93